@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu/Ubuntu-Light.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu/Ubuntu.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu/Ubuntu-Medium.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu/Ubuntu-Bold.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../font/Gagalin-Regular.woff2") format("woff2"), url("../font/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../font/Lifehack-Medium.woff2") format("woff2"), url("../font/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html, body {
  height: 100%; }

body {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.42;
  color: #ffffff; }

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden; }

.container {
  position: relative;
  max-width: 940px;
  width: 95%;
  min-height: 100%;
  padding-top: 0.0625rem;
  margin: 0 auto; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

p {
  padding: 0;
  margin: 0; }

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .section_preview {
    padding-top: 0.625rem;
    background-color: #181818;
    background-image: url("../image/bg/bg-section-1.jpg"); }
  .section_features {
    background-color: #f7f1ed;
    background-image: url("../image/bg/bg-section-2.jpg"); }
  .section_product-preview {
    background-image: -moz-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
    background-image: -webkit-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
    background-image: -ms-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%); }
  .section_team {
    background-color: #717171;
    background-image: url("../image/bg/bg-section-4.jpg"); }
  .section_menu {
    background-color: #4f4f4f;
    background-image: url("../image/bg/bg-section-5-1.jpg");
    padding-top: 0.0625rem; }
  .section_review {
    background-color: #4f4f4f; }
  .section_order-form {
    background-color: #1e1e1e;
    background-image: url("../image/bg/bg-section-6.jpg"); }
  .section_contacts {
    background-image: url("../image/bg/bg-section-7.jpg"); }

.header {
  position: absolute;
  top: 0.625rem;
  left: 0;
  z-index: 2;
  width: 100%; }

.container_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  width: 5.75rem;
  height: 4.3125rem;
  margin-right: auto; }
  .logo__pic {
    width: 100%; }

@media screen and (max-width: 768px) {
  .menu {
    display: none; } }

.menu__list {
  margin-right: 0.9375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__item {
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu__item:after {
    content: "";
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: #ffffff;
    margin: 0 0.9375rem; }
  .menu__item:last-child:after {
    display: none; }

.menu__link {
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff; }
  .menu__link:hover {
    text-decoration: underline;
    color: #e45028;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.order-btn {
  display: block;
  padding: 0.5rem 0.9375rem;
  margin-right: 1px;
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #e45028;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .order-btn:hover {
    background-color: #c1401e; }

.hamburger-menu-btn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 24px;
  height: 23px;
  margin-left: 30px;
  margin-right: 10px;
  text-decoration: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.hamburger-menu__decor {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 5px; }

.container_preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .container_preview {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.preview-col {
  width: 50%;
  padding-right: 0.625rem;
  margin-top: -5.125rem; }
  @media screen and (max-width: 768px) {
    .preview-col {
      width: 64%; } }
  @media screen and (max-width: 480px) {
    .preview-col {
      width: 82%; } }
  .preview-col:first-child {
    margin-left: 1.125rem; }
    @media screen and (max-width: 768px) {
      .preview-col:first-child {
        padding-top: 0.9375rem;
        margin-bottom: 2.1875rem; } }
    @media screen and (max-width: 480px) {
      .preview-col:first-child {
        margin-top: -1.5625rem; } }
  .preview-col__pic {
    width: 100%; }
  .preview-col__slogan {
    display: block;
    text-align: left;
    font-family: "Lifehack", "Arial", sans-serif;
    font-size: 4.0625rem;
    font-weight: normal;
    line-height: 1;
    color: #ffffff; }
    @media screen and (max-width: 768px) {
      .preview-col__slogan {
        padding-left: 20px;
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .preview-col__slogan {
        font-size: 54px;
        line-height: 1.1; } }

.scroll-btn {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2; }
  .scroll-btn__link {
    display: block;
    width: 1.8125rem;
    height: 0.9375rem; }
  .scroll-btn__pic {
    width: 100%;
    height: 100%;
    fill: #ffffff; }

.features-list {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5625rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 768px) {
    .features-list {
      margin-top: -1.25rem; } }
  @media screen and (max-width: 480px) {
    .features-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 0.625rem; } }

.features-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 18.75rem;
  color: #2f3234; }
  @media screen and (max-width: 480px) {
    .features-item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 2.5rem;
      text-align: left; }
      .features-item::last-child {
        margin-bottom: 0; } }
  .features-item__img {
    height: 5.625rem;
    margin-bottom: 1.875rem; }
    @media screen and (max-width: 480px) {
      .features-item__img {
        -webkit-flex-basis: 27%;
        -ms-flex-preferred-size: 27%;
        flex-basis: 27%;
        margin-bottom: 0; } }
  .features-item__pic {
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 480px) {
    .features-item__desc {
      -webkit-flex-basis: 70%;
      -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
      margin-left: auto; } }
  .features-item__text-title {
    margin: 0;
    margin-bottom: 0.9375rem;
    font-family: "Lifehack", "Arial", sans-serif;
    font-size: 1.5rem;
    line-height: 1.75rem; }
  .features-item__text {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem; }

.meat-icon {
  fill: #e25008; }

.hand-icon {
  fill: #f8b43a; }

.list-icon {
  fill: #8ac03e; }

.product-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.product-body {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30rem;
  margin-top: 0.4375rem; }

.product-col {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .product-col:last-child {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: -0.625rem;
    margin-left: 1.25rem; }

.product-img {
  width: 108%;
  margin-left: -0.625rem; }

.consist-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .consist-btn__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.75rem 1.375rem;
    border-radius: 0.3125rem;
    text-decoration: none;
    background-color: #f08c33; }
    .consist-btn__link:hover {
      background-color: #e35028; }
  .consist-btn__pic {
    width: 2.875rem;
    height: 2.75rem;
    margin-bottom: 0.625rem;
    fill: #ffffff; }
  .consist-btn__text {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase; }

.consist-list {
  display: none;
  width: 16.875rem;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  background-color: rgba(255, 255, 255, 0.9); }
  .consist-list__item {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0.625rem;
    color: #2f3234;
    font-size: 0.875rem; }
    .consist-list__item:last-child {
      margin-bottom: 0; }
  .consist-list__pic {
    width: 2.75rem;
    height: 2.5rem;
    margin-right: 1.5625rem; }
  .consist-list__name {
    margin-right: auto;
    font-weight: 400; }

.ccal-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.5; }
  .ccal-icon__pic {
    width: 3.75rem;
    height: 3.75rem;
    fill: #ffffff;
    margin-bottom: 0.3125rem; }
  .ccal-icon__text {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1;
    color: #ffffff; }
    .ccal-icon__text_absol {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1.25rem;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.consist-btn__link_active {
  background-color: #e35028; }
  .consist-btn__link_active + .consist-list {
    display: block; }

.price-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 1.625rem; }
  .price-block__price, .price-block__text {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 1.875rem;
    font-weight: normal;
    line-height: 1;
    color: #e35028; }
  .price-block__price {
    font-size: 4.5rem;
    margin-right: 0rem; }
  .price-block__text {
    margin-bottom: 0.3125rem;
    margin-right: 1.375rem; }

.slider-btn {
  position: absolute;
  top: 0px;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 3.75rem; }
  .slider-btn__pic {
    width: 1.8125rem;
    height: 1rem;
    fill: #ffffff; }
  .slider-btn_left {
    left: -3.5rem; }
    .slider-btn_left .slider-btn__pic {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .slider-btn_right {
    right: -3.4375rem; }
    .slider-btn_right .slider-btn__pic {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }

.mini-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 49%;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.93); }
  @media screen and (max-width: 768px) {
    .mini-container {
      width: 100%; } }

.work-team {
  width: 70%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .work-team {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .work-team {
      width: 70%; } }

@media screen and (max-width: 768px) {
  .team-accord {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; } }

.team-accord__item {
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .team-accord__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 0.375rem; } }

.team-accord__name {
  display: inline-block;
  margin-bottom: 0.3125rem;
  vertical-align: middle;
  font-family: "Gagalin", "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 2;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }
  @media screen and (max-width: 768px) {
    .team-accord__name {
      font-size: 1.5rem; } }
  .team-accord__name:before {
    content: "";
    display: inline-block;
    width: 0.5625rem;
    height: 0.375rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    background-image: url("../image/svg/triangle.svg#triangle");
    background-repeat: no-repeat; }

.team-accord__description {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .team-accord__description {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 0; } }

.team-accord__img {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 6.25rem;
  height: 6.25rem;
  margin-left: 1.0625rem;
  margin-right: 1.25rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 768px) {
    .team-accord__img {
      margin-bottom: 0.8125rem; } }

.team-accord__pic {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 135%; }

.team-accord__post {
  display: inline-block;
  margin-bottom: 0.6875rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.7; }

.team-accord__description-text {
  margin-bottom: 1rem; }
  @media screen and (max-width: 768px) {
    .team-accord__description-text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      margin-bottom: 0.8125rem; } }

.team-accord__part {
  font-size: 0.875rem;
  line-height: 1.7; }

.team-accord_active {
  color: #f9b43b; }
  .team-accord_active:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .team-accord_active + .team-accord__description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.menu-accord {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-width: 70%;
  background-color: rgba(47, 50, 52, 0.93); }
  @media screen and (max-width: 768px) {
    .menu-accord {
      max-width: 100%; } }
  .menu-accord__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .menu-accord__title {
    width: 5rem;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .menu-accord__title_bg1 {
      background-image: url("../image/bg/bg-section-5-2.jpg"); }
    .menu-accord__title_bg2 {
      background-image: url("../image/bg/bg-section-5-3.jpg"); }
    .menu-accord__title_bg3 {
      background-image: url("../image/bg/bg-section-5-4.jpg"); }
  .menu-accord__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    background-color: rgba(20, 20, 20, 0.7); }
    .menu-accord__link-text {
      display: block;
      font-family: "Gagalin", "Arial", sans-serif;
      font-size: 2.5rem;
      font-weight: normal;
      line-height: 1.6;
      color: #ffffff;
      text-transform: uppercase;
      white-space: nowrap;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
      @media screen and (max-width: 768px) {
        .menu-accord__link-text {
          -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
          align-self: flex-end;
          width: 3.75rem;
          margin-bottom: 2.1875rem; } }
      @media screen and (max-width: 480px) {
        .menu-accord__link-text {
          -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
          align-self: flex-end;
          margin-bottom: 3.75rem;
          margin-right: 0.625rem; } }
  .menu-accord__desc {
    display: none;
    padding-top: 3.75rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem; }
  .menu-accord_active + .menu-accord__desc {
    display: block; }

.review-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .review-list__item {
    position: relative;
    width: 25%;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
    @media screen and (max-width: 768px) {
      .review-list__item {
        width: 50%;
        height: 25vh; } }

.review-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2.5rem 1.25rem;
  background-color: rgba(20, 20, 20, 0.7);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }
  @media screen and (max-width: 768px) {
    .review-text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 1.75rem 3.125rem;
      text-align: center; } }
  .review-text__author {
    display: block;
    margin-bottom: 1rem;
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 0.875rem;
    line-height: 1.75rem;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      .review-text__author {
        margin-bottom: 0.4375rem; } }
  .review-text__letter {
    font-size: 0.875rem;
    line-height: 1.5rem; }

.review-list__item:hover .review-text {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.review-btn {
  display: inline-block;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.6875rem;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #3c3d3e;
  border-radius: 0.3125rem; }
  @media screen and (max-width: 768px) {
    .review-btn {
      margin-top: 1.25rem; } }
  .review-btn:hover {
    background-color: #373839;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.order-form {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  margin-top: 2.0625rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media screen and (max-width: 768px) {
    .order-form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 2.8125rem; } }
  @media screen and (max-width: 480px) {
    .order-form {
      margin-top: 3.3125rem; } }
  .order-form__column {
    width: calc(50% - 0.625rem); }
    @media screen and (max-width: 768px) {
      .order-form__column {
        width: 65%; }
        .order-form__column:first-child {
          margin-bottom: 1.125rem; } }
    @media screen and (max-width: 480px) {
      .order-form__column {
        width: 100%; } }
  .order-form__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.9375rem; }
    .order-form__row_start {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-bottom: 1.375rem; }
      .order-form__row_start:last-child {
        margin-top: 1.25rem; }
        @media screen and (max-width: 768px) {
          .order-form__row_start:last-child {
            margin-top: 2.5rem; } }
      @media screen and (max-width: 480px) {
        .order-form__row_start {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center; } }
    .order-form__row:last-child {
      margin-bottom: 0; }
  .order-form__half {
    -webkit-flex-basis: calc(50% - 0.625rem);
    -ms-flex-preferred-size: calc(50% - 0.625rem);
    flex-basis: calc(50% - 0.625rem); }
    @media screen and (max-width: 480px) {
      .order-form__half {
        -webkit-flex-basis: calc(50% - 0.325rem);
        -ms-flex-preferred-size: calc(50% - 0.325rem);
        flex-basis: calc(50% - 0.325rem); } }
  .order-form__full {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .order-form__fourth {
    -webkit-flex-basis: calc(25% - 0.8125rem);
    -ms-flex-preferred-size: calc(25% - 0.8125rem);
    flex-basis: calc(25% - 0.8125rem); }
    @media screen and (max-width: 480px) {
      .order-form__fourth {
        -webkit-flex-basis: calc(33% - 0.4125rem);
        -ms-flex-preferred-size: calc(33% - 0.4125rem);
        flex-basis: calc(33% - 0.4125rem); }
        .order-form__fourth:last-child {
          display: none; } }
  .order-form__caption {
    display: block;
    font-size: 0.875rem; }
  .order-form__field, .order-form__comment-field {
    width: 100%;
    height: 2.1875rem;
    padding: 0.3125rem 0.625rem;
    margin-top: 0.3125rem;
    outline: none;
    border: none;
    border-radius: 0.4375rem; }
    .order-form__field:focus, .order-form__comment-field:focus {
      border: 0.125rem solid #e45028; }
  .order-form__comment-field {
    height: 6.75rem;
    resize: none; }
  .order-form__radio-btn, .order-form__check-btn {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1.25rem; }
  .order-form__radio-item, .order-form__check {
    display: none; }
  .order-form__radio-fake {
    position: relative;
    display: block;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: #ffffff; }
  .order-form__radio-item:checked + .order-form__radio-fake {
    border: 0.0625rem solid #e45028; }
  .order-form__radio-item:checked + .order-form__radio-fake:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 0.21875rem;
    background-color: #e45028;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .order-form__check-fake {
    position: relative;
    display: block;
    width: 0.9375rem;
    height: 0.9375rem;
    margin-right: 0.625rem;
    background-color: #ffffff; }
  .order-form__check:checked + .order-form__check-fake:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.6875rem;
    height: 0.5625rem;
    background: url("../image/icons/check.png") no-repeat center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.form-btn {
  margin-right: 1rem;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  color: #ffffff;
  border: none; }

.clear-btn {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  border: none;
  background-color: transparent; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url("../image/bg/bg-section-8.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.3125rem 0; }
    @media screen and (max-width: 480px) {
      .footer-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 0.8125rem;
        padding-bottom: 1.25rem; } }

@media screen and (max-width: 480px) {
  .contact-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0.9375rem; } }

.contact-block__address {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5rem; }

.contact-block__phone-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none; }

.contact-block__phone-pic {
  display: block;
  width: 0.75rem;
  height: 0.6875rem;
  margin-right: 0.5rem;
  fill: #e45028; }

.contact-block__phone {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: #e45028; }

.section-title {
  display: block;
  font-family: "Gagalin", "Arial", sans-serif;
  font-size: 4.5rem;
  font-weight: normal;
  line-height: 1.18;
  color: none;
  text-transform: uppercase; }
  .section-title_preview {
    margin-top: 3.75rem;
    margin-bottom: 1.25rem;
    color: #f9b43b; }
    @media screen and (max-width: 768px) {
      .section-title_preview {
        text-align: center;
        white-space: nowrap; } }
    @media screen and (max-width: 480px) {
      .section-title_preview {
        margin-top: 4.5625rem;
        margin-bottom: 0rem;
        margin-left: 0.625rem;
        font-size: 4rem; } }
  .section-title_features {
    margin-top: 3.75rem;
    text-align: center;
    color: #2f3234; }
    @media screen and (max-width: 768px) {
      .section-title_features {
        margin-top: 6.5625rem; } }
    @media screen and (max-width: 480px) {
      .section-title_features {
        margin-top: 2.6875rem;
        font-size: 3.125rem; } }
  .section-title_product {
    margin-bottom: 2.625rem;
    line-height: 0.9; }
  .section-title_team {
    color: #f9b43b;
    margin-top: 4.375rem;
    margin-bottom: 4.25rem; }
    @media screen and (max-width: 768px) {
      .section-title_team {
        margin-top: 6.4375rem;
        margin-bottom: 6.8125rem; } }
    @media screen and (max-width: 480px) {
      .section-title_team {
        margin-top: 3.25rem;
        margin-bottom: 5rem;
        font-size: 3.125rem; } }
  .section-title_menu {
    margin-top: 5.625rem;
    margin-left: 5.9375rem;
    color: #ffffff; }
    @media screen and (max-width: 768px) {
      .section-title_menu {
        margin-left: 1.5625rem;
        margin-top: 5.9375rem; } }
    @media screen and (max-width: 480px) {
      .section-title_menu {
        margin-left: 3.75rem;
        margin-top: 2.75rem;
        font-size: 3.125rem; } }
  .section-title_order {
    margin-top: 4.375rem;
    color: #f9b43b;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .section-title_order {
        margin-top: 6.4375rem; } }
    @media screen and (max-width: 480px) {
      .section-title_order {
        margin-top: 3.375rem;
        font-size: 3.125rem; } }

.mini-map {
  position: fixed;
  right: 2.8125rem;
  top: 5.625rem;
  z-index: 20; }
  @media screen and (max-width: 768px) {
    .mini-map {
      display: none; } }
  .mini-map__item {
    margin-bottom: 0.3125rem; }
    .mini-map__item:last-child {
      margin-bottom: 0; }
  .mini-map__link {
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: none;
    border: 0.0625rem solid transparent; }
    .mini-map__link:hover {
      border-color: #ffffff;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .mini-map__link_active {
      border-color: #ffffff; }
  .mini-map__decor {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 0.1875rem;
    background-color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.social-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 8.75rem; }
  .social-btn__link {
    display: block;
    text-decoration: none;
    width: 1.25rem;
    height: 1.25rem; }
  .social-btn__pic {
    height: 100%;
    width: 100%;
    fill: #ffffff;
    opacity: 0.3; }
  .social-btn__link:hover .social-btn__pic {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
