@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu/Ubuntu-Light.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu/Ubuntu.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu/Ubuntu-Medium.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu/Ubuntu-Bold.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../font/Gagalin-Regular.woff2") format("woff2"), url("../font/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../font/Lifehack-Medium.woff2") format("woff2"), url("../font/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html, body {
  height: 100%; }

body {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.42;
  color: #ffffff; }

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden; }

.container {
  position: relative;
  max-width: 940px;
  width: 95%;
  min-height: 100%;
  padding-top: 1px;
  margin: 0 auto; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

p {
  padding: 0;
  margin: 0; }

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .section {
      min-height: 750px; } }
  @media screen and (max-width: 480px) {
    .section {
      min-height: 600px; } }
  @media screen and (max-width: 400px) {
    .section {
      min-height: 500px; } }
  .section_preview {
    padding-top: 10px;
    background-color: #181818;
    background-image: url("../image/bg/bg-section-1.jpg"); }
  .section_features {
    background-color: #f7f1ed;
    background-image: url("../image/bg/bg-section-2.jpg"); }
  .section_product-preview {
    background-image: -moz-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
    background-image: -webkit-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
    background-image: -ms-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%); }
  .section_team {
    background-color: #717171;
    background-image: url("../image/bg/bg-section-4.jpg"); }
  .section_menu {
    background-color: #4f4f4f;
    background-image: url("../image/bg/bg-section-5-1.jpg");
    padding-top: 1px; }
  .section_review {
    background-color: #4f4f4f; }
  .section_order-form {
    background-color: #1e1e1e;
    background-image: url("../image/bg/bg-section-6.jpg"); }
  .section_contacts {
    background-image: url("../image/bg/bg-section-7.jpg"); }

.header {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  width: 100%; }

.container_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  width: 92px;
  height: 69px;
  margin-right: auto; }
  .logo__pic {
    width: 100%; }

@media screen and (max-width: 768px) {
  .menu {
    display: none; } }

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px; }

.menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu__item:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: 0 15px; }
  .menu__item:last-child:after {
    display: none; }

.menu__link {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff; }
  .menu__link:hover {
    text-decoration: underline;
    color: #e45028;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.order-btn {
  display: block;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #e45028;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .order-btn:hover {
    background-color: #c1401e; }

.hamburger-menu-btn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 24px;
  height: 23px;
  margin-left: 30px;
  margin-right: 10px;
  text-decoration: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.hamburger-menu__decor {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 5px; }

.container_preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .container_preview {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.preview-img, .preview-text {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .preview-img, .preview-text {
      -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.preview-img {
  margin-right: 13px;
  margin-left: 10px;
  margin-bottom: 93px; }
  @media screen and (max-width: 768px) {
    .preview-img {
      margin-bottom: 40px; } }
  @media screen and (max-width: 480px) {
    .preview-img {
      width: 80%;
      margin-right: 10px;
      margin-bottom: 55px; } }
  .preview-img__pic {
    width: 100%; }

.preview-text {
  margin-top: -20px; }
  @media screen and (max-width: 768px) {
    .preview-text {
      margin-bottom: 65px; } }
  @media screen and (max-width: 480px) {
    .preview-text {
      margin-bottom: 10px; } }
  .preview-text__slogan {
    display: block;
    margin-top: 20px;
    font-family: "Lifehack", "Arial", sans-serif;
    font-size: 65px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff; }
    @media screen and (max-width: 768px) {
      .preview-text__slogan {
        width: 95%;
        margin-top: 20px; } }
    @media screen and (max-width: 480px) {
      .preview-text__slogan {
        margin-top: 5px;
        font-size: 54px;
        line-height: 1.1; } }
    @media screen and (max-width: 400px) {
      .preview-text__slogan {
        font-size: 30px; } }

.scroll-btn {
  position: absolute;
  bottom: 42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2; }
  @media screen and (max-width: 480px) {
    .scroll-btn {
      bottom: 34px; } }
  .scroll-btn__link {
    display: block;
    width: 29px;
    height: 15px; }
  .scroll-btn__pic {
    width: 100%;
    height: 100%;
    fill: #ffffff; }

.features-list {
  position: absolute;
  top: 53%;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 768px) {
    .features-list {
      top: 49%; } }
  @media screen and (max-width: 480px) {
    .features-list {
      top: 47.5%;
      left: 52.5%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 10px; } }

.features-item {
  width: 32%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .features-item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 50px;
      text-align: left; }
      .features-item:last-child {
        margin-top: -5px;
        margin-bottom: 0; } }
  @media screen and (max-width: 400px) {
    .features-item {
      margin-bottom: 20px; } }
  .features-item__img {
    height: 87px; }
    @media screen and (max-width: 480px) {
      .features-item__img {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 100px;
        margin-right: 25px; } }
    @media screen and (max-width: 400px) {
      .features-item__img {
        height: 60px;
        width: 80px;
        margin-right: 15px; } }
  .features-item__pic {
    height: 100%; }
    @media screen and (max-width: 480px) {
      .features-item__pic {
        width: 100%; } }
  .features-item__text-title {
    margin-top: 32px;
    margin-bottom: 14px;
    font-family: "Lifehack", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    color: #2f3234; }
    @media screen and (max-width: 480px) {
      .features-item__text-title {
        margin-top: 0; } }
    @media screen and (max-width: 400px) {
      .features-item__text-title {
        font-size: 16px; } }
  .features-item__text {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7;
    color: #2f3234; }
    @media screen and (max-width: 400px) {
      .features-item__text {
        padding-right: 10px;
        font-size: 12px; } }

.meat-icon {
  fill: #e25008; }

.hand-icon {
  fill: #f8b43a; }

.list-icon {
  fill: #8ac03e; }

.product-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.product-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 480px; }
  @media screen and (max-width: 768px) {
    .product-body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      height: auto; } }
  .product-body__col {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(50% - 5px); }
    @media screen and (max-width: 768px) {
      .product-body__col {
        width: 80%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .product-body__col:first-child {
          width: 65%;
          padding-top: 80px;
          margin-bottom: 18px; } }
    @media screen and (max-width: 480px) {
      .product-body__col {
        width: 100%; }
        .product-body__col:first-child {
          width: 100%;
          padding: 110px 45px 0;
          margin-top: -15px; } }
    @media screen and (max-width: 400px) {
      .product-body__col:first-child {
        padding-top: 80px; } }

.product-img {
  display: block;
  width: 108%;
  margin-left: -30px; }
  @media screen and (max-width: 768px) {
    .product-img {
      width: 110%;
      margin-left: -20px; } }
  @media screen and (max-width: 480px) {
    .product-img {
      margin-left: -5px; } }

.product-text {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-left: 15px;
  margin-top: -8px; }
  @media screen and (max-width: 768px) {
    .product-text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 0;
      margin: 0;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .product-text {
      margin-top: -10px; } }
  .product-text__desc {
    font-size: 14px;
    line-height: 1.7; }
    @media screen and (max-width: 400px) {
      .product-text__desc {
        font-size: 12px; } }

.price-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-top: 20px; }
  @media screen and (max-width: 768px) {
    .price-block {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 30px; } }
  @media screen and (max-width: 480px) {
    .price-block {
      margin-top: 15px; } }
  .price-block__price, .price-block__text {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    color: #e35028; }
  .price-block__price {
    font-size: 72px; }
    @media screen and (max-width: 480px) {
      .price-block__price {
        margin-right: 3px;
        font-size: 50px; } }
  .price-block__text {
    margin-right: 25px; }
    @media screen and (max-width: 480px) {
      .price-block__text {
        font-size: 24px; } }

.consist-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .consist-btn__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px 22px 11px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #f08c33; }
    .consist-btn__link:hover {
      background-color: #e35028; }
  .consist-btn__pic {
    width: 46px;
    height: 44px;
    margin-bottom: 7px;
    fill: #ffffff; }
  .consist-btn__text {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase; }

.consist-list {
  display: none;
  width: 270px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9); }
  .consist-list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    color: #2f3234;
    font-size: 14px; }
    .consist-list__item:last-child {
      margin-bottom: 0; }
  .consist-list__pic {
    width: 44px;
    height: 40px;
    margin-right: 25px; }
  .consist-list__name {
    margin-right: auto;
    font-weight: 400; }

.consist-btn__link_active {
  background-color: #e35028; }
  .consist-btn__link_active + .consist-list {
    display: block; }

.ccal-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.5; }
  @media screen and (max-width: 768px) {
    .ccal-icon {
      right: 0;
      top: 0;
      left: inherit;
      bottom: inherit; } }
  .ccal-icon__pic {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    fill: #ffffff; }
  .ccal-icon__text {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff; }
    .ccal-icon__text_absol {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 20px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.slider-btn {
  position: absolute;
  top: 0px;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px; }
  .slider-btn__pic {
    width: 29px;
    height: 16px;
    fill: #ffffff; }
    @media screen and (max-width: 480px) {
      .slider-btn__pic {
        margin-top: -30px; } }
  .slider-btn_left {
    left: -56px; }
    @media screen and (max-width: 768px) {
      .slider-btn_left {
        left: 5px; } }
    @media screen and (max-width: 480px) {
      .slider-btn_left {
        left: -5%; } }
    .slider-btn_left .slider-btn__pic {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .slider-btn_right {
    right: -55px; }
    @media screen and (max-width: 768px) {
      .slider-btn_right {
        right: 5px; } }
    @media screen and (max-width: 480px) {
      .slider-btn_right {
        right: -5%; } }
    .slider-btn_right .slider-btn__pic {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }

.mini-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 49%;
  padding-top: 70px;
  padding-left: 80px;
  background-color: rgba(47, 50, 52, 0.93); }
  @media screen and (max-width: 768px) {
    .mini-container {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      padding: 0; } }

.team-accord__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 13px; }
  @media screen and (max-width: 768px) {
    .team-accord__item {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 3px; } }

.team-accord__name {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 8px;
  font-family: "Gagalin", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }
  @media screen and (max-width: 768px) {
    .team-accord__name {
      font-size: 24px;
      margin-bottom: 5px; } }
  @media screen and (max-width: 400px) {
    .team-accord__name {
      font-size: 18px; } }
  .team-accord__name:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 6px;
    margin-right: 8px;
    background-image: url("../image/svg/triangle.svg#triangle");
    background-repeat: no-repeat; }

.team-accord__description {
  display: none;
  margin-bottom: 24px; }
  @media screen and (max-width: 768px) {
    .team-accord__description {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 16px; } }

.team-accord__img {
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-left: 16px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .team-accord__img {
      margin-bottom: 19px; } }

.team-accord__pic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 135%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.team-accord__description-text {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .team-accord__description-text {
      width: 75%;
      text-align: center; } }

.team-accord__post {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2; }

.team-accord__part {
  font-size: 14px;
  line-height: 1.7; }

.team-accord_active {
  color: #f9b43b; }
  .team-accord_active:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .team-accord_active + .team-accord__description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.menu-accord {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-width: 70%;
  background-color: rgba(47, 50, 52, 0.93); }
  @media screen and (max-width: 768px) {
    .menu-accord {
      max-width: 100%; } }
  .menu-accord__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .menu-accord__title {
    width: 80px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .menu-accord__title_bg1 {
      background-image: url("../image/bg/bg-section-5-2.jpg"); }
    .menu-accord__title_bg2 {
      background-image: url("../image/bg/bg-section-5-3.jpg"); }
    .menu-accord__title_bg3 {
      background-image: url("../image/bg/bg-section-5-4.jpg"); }
    @media screen and (max-width: 480px) {
      .menu-accord__title {
        width: 80px; } }
    @media screen and (max-width: 400px) {
      .menu-accord__title {
        width: 50px; } }
  .menu-accord__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    background-color: rgba(20, 20, 20, 0.7); }
    .menu-accord__link-text {
      display: block;
      font-family: "Gagalin", "Arial", sans-serif;
      font-size: 40px;
      font-weight: normal;
      line-height: 1.6;
      color: #ffffff;
      text-transform: uppercase;
      white-space: nowrap;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
      @media screen and (max-width: 768px) {
        .menu-accord__link-text {
          -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
          align-self: flex-end;
          width: 80px;
          margin-bottom: 45px; } }
      @media screen and (max-width: 480px) {
        .menu-accord__link-text {
          margin-bottom: 70px;
          margin-right: 10px; } }
      @media screen and (max-width: 400px) {
        .menu-accord__link-text {
          font-size: 25px;
          margin-right: 0; } }
  .menu-accord__desc {
    display: none;
    padding: 60px 30px 0;
    font-size: 14px; }
    @media screen and (max-width: 400px) {
      .menu-accord__desc {
        padding: 30px 15px 0;
        font-size: 12px; } }
  .menu-accord_active .menu-accord__link-text {
    color: #f9b43b; }
  .menu-accord_active + .menu-accord__desc {
    display: block; }

.review-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .review-list__item {
    position: relative;
    width: 25%;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
    @media screen and (max-width: 768px) {
      .review-list__item {
        width: 50%;
        height: 25vh; } }

.review-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 20px 5px;
  background-color: rgba(20, 20, 20, 0.7);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }
  @media screen and (max-width: 768px) {
    .review-text {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 5px 50px 0;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .review-text {
      padding-top: 0; } }
  .review-text__author {
    display: block;
    margin-bottom: 16px;
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      .review-text__author {
        margin-bottom: 5px; } }
    @media screen and (max-width: 480px) {
      .review-text__author {
        font-size: 24px; } }
    @media screen and (max-width: 400px) {
      .review-text__author {
        font-size: 18px; } }
  .review-text__letter {
    font-size: 14px;
    line-height: 1.7; }
    @media screen and (max-width: 480px) {
      .review-text__letter {
        display: none; } }

.review-list__item:hover .review-text {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.review-btn {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #3c3d3e;
  border-radius: 5px; }
  @media screen and (max-width: 768px) {
    .review-btn {
      margin-top: 25px; } }
  @media screen and (max-width: 480px) {
    .review-btn {
      display: none; } }
  .review-btn_more {
    display: none; }
    @media screen and (max-width: 480px) {
      .review-btn_more {
        display: inline-block;
        margin-top: 15px; } }
    @media screen and (max-width: 400px) {
      .review-btn_more {
        font-size: 10px; } }
  .review-btn:hover {
    background-color: #373839;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.order-form {
  position: absolute;
  top: 55%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media screen and (max-width: 768px) {
    .order-form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 65%; } }
  @media screen and (max-width: 480px) {
    .order-form {
      top: 58.5%;
      width: 100%; } }
  @media screen and (max-width: 400px) {
    .order-form {
      top: 53%; } }
  .order-form__column {
    -webkit-flex-basis: calc(50% - 10px);
    -ms-flex-preferred-size: calc(50% - 10px);
    flex-basis: calc(50% - 10px); }
    @media screen and (max-width: 768px) {
      .order-form__column:first-child {
        margin-bottom: 15px; } }
  .order-form__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px; }
    .order-form__row_start {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-bottom: 18px; }
      @media screen and (max-width: 768px) {
        .order-form__row_start:last-child {
          margin-top: 40px; } }
      @media screen and (max-width: 480px) {
        .order-form__row_start {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin-top: 32px; } }
      @media screen and (max-width: 400px) {
        .order-form__row_start {
          margin-top: 18px; }
          .order-form__row_start:last-child {
            margin-top: 18px; } }
    .order-form__row:last-child {
      margin-bottom: 0px; }
  .order-form__half {
    -webkit-flex-basis: calc(50% - 10px);
    -ms-flex-preferred-size: calc(50% - 10px);
    flex-basis: calc(50% - 10px); }
    @media screen and (max-width: 480px) {
      .order-form__half {
        -webkit-flex-basis: calc(50% - 6px);
        -ms-flex-preferred-size: calc(50% - 6px);
        flex-basis: calc(50% - 6px); } }
  .order-form__full {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .order-form__fourth {
    -webkit-flex-basis: calc(25% - 13px);
    -ms-flex-preferred-size: calc(25% - 13px);
    flex-basis: calc(25% - 13px); }
    @media screen and (max-width: 480px) {
      .order-form__fourth {
        -webkit-flex-basis: calc(33% - 6px);
        -ms-flex-preferred-size: calc(33% - 6px);
        flex-basis: calc(33% - 6px); }
        .order-form__fourth:last-child {
          display: none; } }
  .order-form__caption {
    display: block;
    font-size: 14px; }
    @media screen and (max-width: 400px) {
      .order-form__caption {
        font-size: 12px; } }
  .order-form__field, .order-form__comment-field {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 7px; }
    .order-form__field:focus, .order-form__comment-field:focus {
      border: 2px solid #e45028; }
  .order-form__comment-field {
    height: 110px;
    resize: none; }
    @media screen and (max-width: 400px) {
      .order-form__comment-field {
        height: 50px; } }
  .order-form__radio-btn, .order-form__check-btn {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px; }
    @media screen and (max-width: 480px) {
      .order-form__radio-btn, .order-form__check-btn {
        padding-left: 10px;
        margin-right: 11px; } }
  .order-form__radio-item, .order-form__check {
    display: none; }
  .order-form__radio-fake {
    position: relative;
    display: block;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #ffffff; }
  .order-form__radio-item:checked + .order-form__radio-fake {
    border: 1px solid #e45028; }
  .order-form__radio-item:checked + .order-form__radio-fake:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    background-color: #e45028;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .order-form__check-fake {
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #ffffff; }
  .order-form__check:checked + .order-form__check-fake:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 11px;
    height: 9px;
    background: url("../image/icons/check.png") no-repeat center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.form-btn {
  margin-right: 16px;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  color: #ffffff;
  border: none; }

.clear-btn {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  border: none;
  background-color: transparent; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url("../image/bg/bg-section-8.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 0; }
    @media screen and (max-width: 768px) {
      .footer-container {
        padding-bottom: 8px; } }
    @media screen and (max-width: 480px) {
      .footer-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 13px;
        padding-bottom: 20px; } }

@media screen and (max-width: 480px) {
  .contact-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px; } }

.contact-block__address {
  display: block;
  font-size: 14px;
  line-height: 24px; }

.contact-block__phone-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none; }

.contact-block__phone-pic {
  display: block;
  width: 12px;
  height: 11px;
  margin-right: 8px;
  fill: #e45028; }

.contact-block__phone {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #e45028; }

.section-title {
  display: block;
  font-family: "Gagalin", "Arial", sans-serif;
  font-size: 72px;
  font-weight: normal;
  line-height: 1.18;
  color: none;
  text-transform: uppercase; }
  .section-title_preview {
    color: #f9b43b; }
    @media screen and (max-width: 480px) {
      .section-title_preview {
        font-size: 64px; } }
    @media screen and (max-width: 400px) {
      .section-title_preview {
        font-size: 45px; } }
  .section-title_features {
    margin-top: 58px;
    text-align: center;
    color: #2f3234; }
    @media screen and (max-width: 768px) {
      .section-title_features {
        margin-top: 103px; } }
    @media screen and (max-width: 480px) {
      .section-title_features {
        margin-top: 45px;
        font-size: 50px; } }
    @media screen and (max-width: 400px) {
      .section-title_features {
        margin-top: 30px;
        font-size: 35px; } }
  .section-title_product {
    margin-bottom: 43px;
    line-height: 0.9; }
    @media screen and (max-width: 768px) {
      .section-title_product {
        width: 80%;
        margin-bottom: 25px; } }
    @media screen and (max-width: 480px) {
      .section-title_product {
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 15px; } }
    @media screen and (max-width: 400px) {
      .section-title_product {
        font-size: 35px; } }
  .section-title_team {
    color: #f9b43b;
    margin-bottom: 68px; }
    @media screen and (max-width: 768px) {
      .section-title_team {
        margin-top: 103px;
        margin-bottom: 109px; } }
    @media screen and (max-width: 480px) {
      .section-title_team {
        margin-top: 52px;
        margin-bottom: 80px;
        font-size: 50px; } }
    @media screen and (max-width: 400px) {
      .section-title_team {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 35px; } }
  .section-title_menu {
    margin-top: 90px;
    margin-left: 95px;
    color: #ffffff; }
    @media screen and (max-width: 768px) {
      .section-title_menu {
        margin-left: 25px;
        margin-top: 95px; } }
    @media screen and (max-width: 480px) {
      .section-title_menu {
        margin-left: 60px;
        margin-top: 44px;
        font-size: 50px; } }
    @media screen and (max-width: 400px) {
      .section-title_menu {
        margin-left: 30px;
        margin-top: 20px;
        font-size: 35px; } }
  .section-title_order {
    margin-top: 70px;
    color: #f9b43b;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .section-title_order {
        margin-top: 100px; } }
    @media screen and (max-width: 480px) {
      .section-title_order {
        margin-top: 54px;
        font-size: 50px; } }
    @media screen and (max-width: 400px) {
      .section-title_order {
        margin-top: 15px;
        font-size: 35px; } }

.mini-map {
  position: fixed;
  right: 45px;
  top: 90px;
  z-index: 20; }
  @media screen and (max-width: 768px) {
    .mini-map {
      display: none; } }
  .mini-map__item {
    margin-bottom: 5px; }
    .mini-map__item:last-child {
      margin-bottom: 0; }
  .mini-map__link {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: none;
    border: 1px solid transparent; }
    .mini-map__link:hover {
      border-color: #ffffff;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .mini-map__link_active {
      border-color: #ffffff; }
  .mini-map__decor {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.social-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 140px; }
  .social-btn__link {
    display: block;
    text-decoration: none;
    width: 20px;
    height: 20px; }
  .social-btn__pic {
    height: 100%;
    width: 100%;
    fill: #ffffff;
    opacity: 0.3; }
  .social-btn__link:hover .social-btn__pic {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
