@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu/Ubuntu-Light.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu/Ubuntu.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu/Ubuntu-Medium.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu/Ubuntu-Bold.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../font/Gagalin-Regular.woff2") format("woff2"), url("../font/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../font/Lifehack-Medium.woff2") format("woff2"), url("../font/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

html, body {
  width: 100%;
  height: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-size: 16px; }

body {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.42;
  color: #ffffff; }

.wrapper {
  position: relative;
  min-width: 960px;
  overflow: hidden; }

.container {
  position: relative;
  width: 940px;
  height: 100%;
  padding-top: 1px;
  margin: 0 auto; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

p {
  padding: 0;
  margin: 0; }

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .section_preview {
    padding-top: 10px;
    background-color: #181818;
    background-image: url("../image/bg/bg-section-1.jpg"); }
  .section_features {
    background-color: #f7f1ed;
    background-image: url("../image/bg/bg-section-2.jpg"); }
  .section_product-preview {
    background-image: -moz-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
    background-image: -webkit-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
    background-image: -ms-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%); }
  .section_team {
    background-color: #717171;
    background-image: url("../image/bg/bg-section-4.jpg"); }
  .section_menu {
    background-color: #4f4f4f;
    background-image: url("../image/bg/bg-section-5-1.jpg");
    padding-top: 1px; }
  .section_review {
    background-color: #4f4f4f; }
  .section_order-form {
    background-color: #1e1e1e;
    background-image: url("../image/bg/bg-section-6.jpg"); }
  .section_contacts {
    background-image: url("../image/bg/bg-section-7.jpg"); }

.header {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 2; }

.container_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  width: 92px;
  height: 69px;
  margin-right: auto; }
  .logo__pic {
    width: 100%; }

.menu__list {
  margin-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__item {
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu__item:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: 0 15px; }
  .menu__item:last-child:after {
    display: none; }

.menu__link {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff; }
  .menu__link:hover {
    text-decoration: underline;
    color: #e45028;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.order-btn {
  display: block;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #e45028;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .order-btn:hover {
    background-color: #c1401e; }

.container_preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.preview-col {
  width: 50%;
  padding-right: 10px;
  margin-top: -82px; }
  .preview-col:first-child {
    margin-left: 18px; }
  .preview-col__pic {
    width: 100%; }
  .preview-col__slogan {
    display: block;
    text-align: left;
    font-family: "Lifehack", "Arial", sans-serif;
    font-size: 65px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff; }

.scroll-btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2; }
  .scroll-btn__link {
    display: block;
    width: 29px;
    height: 15px; }
  .scroll-btn__pic {
    width: 100%;
    height: 100%;
    fill: #ffffff; }

.features-list {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.features-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 300px;
  color: #2f3234; }
  .features-item__img {
    height: 90px;
    margin-bottom: 30px; }
  .features-item__pic {
    width: 100%;
    height: 100%; }
  .features-item__text-title {
    margin: 0;
    margin-bottom: 15px;
    font-family: "Lifehack", "Arial", sans-serif;
    font-size: 24px;
    line-height: 28px; }
  .features-item__text {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px; }

.meat-icon {
  fill: #e25008; }

.hand-icon {
  fill: #f8b43a; }

.list-icon {
  fill: #8ac03e; }

.product-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.product-body {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 480px;
  margin-top: 7px; }

.product-col {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: calc(50% - 10px); }
  .product-col:nth-child(3) {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: -10px;
    margin-left: 20px; }

.product-img {
  width: 108%;
  margin-left: -10px; }

.consist-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .consist-btn__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 22px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #f08c33; }
  .consist-btn__pic {
    width: 46px;
    height: 44px;
    margin-bottom: 10px;
    fill: #ffffff; }
  .consist-btn__text {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase; }

.consist-list {
  display: none;
  width: 270px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9); }
  .consist-list__item {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #2f3234;
    font-size: 14px; }
    .consist-list__item:last-child {
      margin-bottom: 0; }
  .consist-list__pic {
    width: 44px;
    height: 40px;
    margin-right: 25px; }
  .consist-list__name {
    margin-right: auto;
    font-weight: 400; }

.ccal-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.5; }
  .ccal-icon__pic {
    width: 60px;
    height: 60px;
    fill: #ffffff;
    margin-bottom: 5px; }
  .ccal-icon__text {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff; }
    .ccal-icon__text_absol {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 20px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.price-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 26px; }
  .price-block__price, .price-block__text {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    color: #e35028; }
  .price-block__price {
    font-size: 72px;
    margin-right: 0px; }
  .price-block__text {
    margin-bottom: 5px;
    margin-right: 22px; }

.slider-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  z-index: 10; }
  .slider-btn__pic {
    width: 29px;
    height: 16px;
    fill: #ffffff; }
  .slider-btn_left {
    left: -75px; }
    .slider-btn_left .slider-btn__pic {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .slider-btn_right {
    right: -45px; }
    .slider-btn_right .slider-btn__pic {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }

.mini-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 49%;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.93); }

.work-team {
  width: 70%;
  margin: 0 auto;
  margin-top: 13%; }

.team-accord__item {
  margin-bottom: 15px; }

.team-accord__name {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  font-family: "Gagalin", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }
  .team-accord__name:before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 6px;
    margin-right: 8px;
    vertical-align: middle;
    background-image: url("../image/svg/triangle.svg#triangle");
    background-repeat: no-repeat; }

.team-accord__description {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px; }

.team-accord__img {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-left: 17px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }

.team-accord__pic {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 135%; }

.team-accord__post {
  display: inline-block;
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.7; }

.team-accord__description-text {
  margin-bottom: 16px; }

.team-accord__part {
  font-size: 14px;
  line-height: 1.7; }

.team-accord_active {
  color: #f9b43b; }
  .team-accord_active:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .team-accord_active + .team-accord__description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.menu-accord {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-width: 70%;
  background-color: rgba(47, 50, 52, 0.93); }
  .menu-accord__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .menu-accord__title {
    width: 80px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .menu-accord__title_bg1 {
      background-image: url("../image/bg/bg-section-5-2.jpg"); }
    .menu-accord__title_bg2 {
      background-image: url("../image/bg/bg-section-5-3.jpg"); }
    .menu-accord__title_bg3 {
      background-image: url("../image/bg/bg-section-5-4.jpg"); }
  .menu-accord__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    background-color: rgba(20, 20, 20, 0.7); }
    .menu-accord__link-text {
      display: block;
      font-family: "Gagalin", "Arial", sans-serif;
      font-size: 40px;
      font-weight: normal;
      line-height: 1.6;
      color: #ffffff;
      text-transform: uppercase;
      white-space: nowrap;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .menu-accord__desc {
    display: none;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px; }
  .menu-accord_active + .menu-accord__desc {
    display: block; }

.review-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .review-list__item {
    position: relative;
    width: 25%;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }

.review-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px 20px;
  background-color: rgba(20, 20, 20, 0.7);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }
  .review-text__author {
    display: block;
    margin-bottom: 16px;
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase; }
  .review-text__letter {
    font-size: 14px;
    line-height: 24px; }

.review-list__item:hover .review-text {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.review-btn {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 11px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #3c3d3e;
  border-radius: 5px; }
  .review-btn:hover {
    background-color: #373839;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.order-form {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  margin-top: 33px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .order-form__column {
    width: calc(50% - 10px); }
  .order-form__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px; }
    .order-form__row_start {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-bottom: 22px; }
      .order-form__row_start:last-child {
        margin-top: 20px; }
    .order-form__row:last-child {
      margin-bottom: 0; }
  .order-form__half {
    -webkit-flex-basis: calc(50% - 10px);
    -ms-flex-preferred-size: calc(50% - 10px);
    flex-basis: calc(50% - 10px); }
  .order-form__full {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .order-form__fourth {
    -webkit-flex-basis: calc(25% - 13px);
    -ms-flex-preferred-size: calc(25% - 13px);
    flex-basis: calc(25% - 13px); }
  .order-form__caption {
    display: block;
    font-size: 14px; }
  .order-form__field, .order-form__comment-field {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 7px; }
    .order-form__field:focus, .order-form__comment-field:focus {
      border: 2px solid #e45028; }
  .order-form__comment-field {
    height: 108px;
    resize: none; }
  .order-form__radio-btn, .order-form__check-btn {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px; }
  .order-form__radio-item, .order-form__check {
    display: none; }
  .order-form__radio-fake {
    position: relative;
    display: block;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #ffffff; }
  .order-form__radio-item:checked + .order-form__radio-fake {
    border: 1px solid #e45028; }
  .order-form__radio-item:checked + .order-form__radio-fake:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    background-color: #e45028;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .order-form__check-fake {
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #ffffff; }
  .order-form__check:checked + .order-form__check-fake:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 11px;
    height: 9px;
    background: url("../image/icons/check.png") no-repeat center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.form-btn {
  margin-right: 16px;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  border: none; }

.clear-btn {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  border: none;
  background-color: transparent; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url("../image/bg/bg-section-8.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 0; }

.contact-block__address {
  display: block;
  font-size: 14px;
  line-height: 24px; }

.contact-block__phone-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none; }

.contact-block__phone-pic {
  display: block;
  width: 12px;
  height: 11px;
  margin-right: 8px;
  fill: #e45028; }

.contact-block__phone {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #e45028; }

.section-title {
  display: block;
  font-family: "Gagalin", "Arial", sans-serif;
  font-size: 72px;
  font-weight: normal;
  line-height: 1.18;
  color: none;
  text-transform: uppercase; }
  .section-title_preview {
    margin-top: 60px;
    margin-bottom: 20px;
    color: #f9b43b; }
  .section-title_features {
    margin-top: 60px;
    text-align: center;
    color: #2f3234; }
  .section-title_product {
    margin-bottom: 42px;
    line-height: 0.9; }
  .section-title_team {
    color: #f9b43b;
    margin-bottom: 68px; }
  .section-title_menu {
    margin-top: 90px;
    margin-left: 95px;
    color: #ffffff; }
  .section-title_order {
    margin-top: 70px;
    color: #f9b43b;
    text-align: center; }

.mini-map {
  position: fixed;
  right: 35px;
  top: 90px;
  z-index: 20; }
  .mini-map__item {
    margin-bottom: 5px; }
    .mini-map__item:last-child {
      margin-bottom: 0; }
  .mini-map__link {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: none;
    border: 1px solid transparent; }
    .mini-map__link:hover {
      border-color: #ffffff;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .mini-map__link_active {
      border-color: #ffffff; }
  .mini-map__decor {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.social-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 140px; }
  .social-btn__link {
    display: block;
    text-decoration: none;
    width: 20px;
    height: 20px; }
  .social-btn__pic {
    height: 100%;
    width: 100%;
    fill: #ffffff;
    opacity: 0.3; }
  .social-btn__link:hover .social-btn__pic {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
