.features-list {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: rem(20px);
    transform: translate(-50%, -50%);

//@include tablets {
//        margin-top: 0;
//    }
//
//    @include phones {
//        flex-direction: column;
//        align-items: center;
//        margin-top: rem(10px);
//    }
}

.features-item {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

//    @include phones {
//        flex-direction: row;
//        align-items: flex-start;
//        justify-content: space-between;
//        width: 100%;
//        margin-bottom: rem(40px);
//        text-align: left;
//
//        &::last-child {
//            margin-bottom: 0;
//        }
//    }
    
    &__img {
        height: 87px;
        
//        @include phones {
//            flex-basis: 27%;
//            margin-bottom: 0;
//        }
    }
    
    &__pic {
        height: 100%;
    }

    &__desc {
//        @include phones {
//            flex-basis: 70%;
//            margin-left: auto;
//        }
    }

    &__text-title {
        margin-top: 32px;
        margin-bottom: 14px;
        @include mix-font("Lifehack", 24px, 500, 1.17, $gray);
    }

    &__text {
        @include mix-font("Ubuntu", 14px, normal, 1.7, $gray);
    }
}

.meat-icon {
    fill: $meat;
}

.hand-icon {
    fill: $hand;
}

.list-icon {
    fill: $natural;
}