.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url("../image/bg/bg-section-8.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0;
        
        @include tablets {
            padding-bottom: 8px;
        }

        @include phones {
            flex-direction: column;
            padding-top: 13px;
            padding-bottom: 20px;
        }
    }
}

.contact-block {

    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    
    &__address {
        display: block;
        font-size: 14px;
        line-height: 24px;
    }
    
    &__phone-block {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    &__phone-pic {
        display: block;
        width: 12px;
        height: 11px;
        margin-right: 8px;
        fill: $orange;
    }
    
    &__phone {
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        color: $orange;
    }
}