.order-form {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: rem(33px);
    transform: translateY(-50%);

    @include tablets {
        flex-direction: column;
        align-items: center;
        margin-top: rem(45px);
    }

    @include phones {
        margin-top: rem(53px);
    } 
    
    &__column {
        width: calc(50% - 0.625rem);

        @include tablets {
            width: 65%;

            &:first-child {
                margin-bottom: rem(18px);
            }
        }

        @include phones {
            width: 100%;
        }
    }
    
    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: rem(15px);
        
        &_start {
            justify-content: flex-start;
            margin-bottom: rem(22px);

            &:last-child {
                margin-top: rem(20px);

                @include tablets {
                    margin-top: rem(40px);
                }
            }

            @include phones {
                justify-content: center;
            }
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__half {
        flex-basis: calc(50% - 0.625rem);

        @include phones {
            flex-basis: calc(50% - 0.325rem);
        }
    }
    
    &__full {
        flex-basis: 100%;
    }
    
    &__fourth {
        flex-basis: calc(25% - 0.8125rem);

        @include phones {
            flex-basis: calc(33% - 0.4125rem);

            &:last-child {
                display: none;
            }
        }
    }
    
    &__caption {
        display: block;
        font-size: rem(14px);
    }
    
    &__field, &__comment-field {
        width: 100%;
        height: rem(35px);
        padding: rem(5px) rem(10px);
        margin-top: rem(5px);
        outline: none;
        border: none;
        border-radius: rem(7px);
        
        &:focus {
            border: rem(2px) solid $orange;
        }
    }
    
    &__comment-field {
        height: rem(108px);
        resize: none;
    }
    
    &__radio-btn, &__check-btn {
        display: inline-flex;
        align-items: center;
        margin-right: rem(20px);
    }
    
    &__radio-item, &__check {
        display: none;
    }
    
    &__radio-fake {
        position: relative;
        display: block;
        margin-right: rem(8px);
        @include circle(rem(16px), #ffffff);
    }
    
    &__radio-item:checked + &__radio-fake {
        border: rem(1px) solid $orange;
    }
    
    &__radio-item:checked + .order-form__radio-fake:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        @include circle(rem(7px), $orange);
        transform: translate(-50%, -50%);
    }
    
    &__check-fake {
        position: relative;
        display: block;
        width: rem(15px);
        height: rem(15px);
        margin-right: rem(10px);
        background-color: #ffffff;
    }
    
    &__check:checked + &__check-fake:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: rem(11px);
        height: rem(9px);
        background: url("../image/icons/check.png") no-repeat center;
        transform: translate(-50%, -50%);
    }
}

.form-btn {
    margin-right: rem(16px);
    @include mix-font("Ubuntu", rem(13px), 500, 1.42, #ffffff);
    border: none;
}

.clear-btn {
    @include mix-font("Ubuntu", rem(13px), 500, 1, #ffffff);
    border: none;
    background-color: transparent;
}
