.order-form {
    position: absolute;
    top: 55%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    transform: translateY(-50%);

    @include tablets {
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
    }

    @include phones {
        top: 58.5%;
        width: 100%;
    }
    
    @include minscreen {
        top: 53%;
    }
    
    &__column {
        flex-basis: calc(50% - 10px);

        @include tablets {
            
            &:first-child {
                margin-bottom: 15px;
            }
        }
    }
    
    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 16px;
        
        &_start {
            justify-content: flex-start;
            margin-bottom: 18px;

            @include tablets {
                
                &:last-child {
                    margin-top: 40px;
                }
            }
            
            @include phones {
                justify-content: center;
                margin-top: 32px;
            }
        }
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    &__half {
        flex-basis: calc(50% - 10px);

        @include phones {
            flex-basis: calc(50% - 6px);
        }
    }
    
    &__full {
        flex-basis: 100%;
    }
    
    &__fourth {
        flex-basis: calc(25% - 13px);

        @include phones {
            flex-basis: calc(33% - 6px);
            
            &:last-child {
                display: none;
            }
        }
    }
    
    &__caption {
        display: block;
        font-size: 14px;
    }
    
    &__field, &__comment-field {
        width: 100%;
        height: 35px;
        padding: 5px 10px;
        margin-top: 5px;
        outline: none;
        border: none;
        border-radius: 7px;
        
        &:focus {
            border: 2px solid $orange;
        }
    }
    
    &__comment-field {
        height: 110px;
        resize: none;
        
        @include minscreen {
            height: 60px;
        }
    }
    
    &__radio-btn, &__check-btn {
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
        
        @include phones {
            padding-left: 10px;
            margin-right: 11px;
        }
    }
    
    &__radio-item, &__check {
        display: none;
    }
    
    &__radio-fake {
        position: relative;
        display: block;
        margin-right: 8px;
        @include circle(16px, #ffffff);
    }
    
    &__radio-item:checked + &__radio-fake {
        border: 1px solid $orange;
    }
    
    &__radio-item:checked + .order-form__radio-fake:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        @include circle(7px, $orange);
        transform: translate(-50%, -50%);
    }
    
    &__check-fake {
        position: relative;
        display: block;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        background-color: #ffffff;
    }
    
    &__check:checked + &__check-fake:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 11px;
        height: 9px;
        background: url("../image/icons/check.png") no-repeat center;
        transform: translate(-50%, -50%);
    }
}

.form-btn {
    margin-right: 16px;
    @include mix-font("Ubuntu", 13px, 500, 1.42, #ffffff);
    border: none;
}

.clear-btn {
    @include mix-font("Ubuntu", 13px, 500, 1, #ffffff);
    border: none;
    background-color: transparent;
}
