.product-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-body {
    position: relative;
    display: flex;
    width: 100%;
    height: rem(480px);
    margin-top: rem(7px);
}

.product-col {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    
    &:last-child {
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: rem(-10px);
        margin-left: rem(20px);
    }
}

.product-img {
    width: 108%;
    margin-left: rem(-10px);
}

.consist-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: rem(12px) rem(22px);
        border-radius: rem(5px);
        text-decoration: none;
        background-color: $d-yellow;

        &:hover {
            background-color: $red;
        }
    }
    
    &__pic {
        width: rem(46px);
        height: rem(44px);
        margin-bottom: rem(10px);
        fill: #ffffff;
    }
    
    &__text {
        @include mix-font("Gagalin", rem(14px), normal, 1, #ffffff);
        text-transform: uppercase;
    }
}

.consist-list {
    display: none;
    width: rem(270px);
    padding: rem(20px);
    border-radius: rem(5px);
    background-color: rgba(#ffffff, 0.9);

    &__item {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem(10px);
        color: $gray;
        font-size: rem(14px);
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__pic {
        width: rem(44px);
        height: rem(40px);
        margin-right: rem(25px);
    }
    
    &__name {
        margin-right: auto;
        font-weight: 400;
    }
}

.ccal-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    
    &__pic {
        width: rem(60px);
        height: rem(60px);
        fill: #ffffff;
        margin-bottom: rem(5px);
    }
    
    &__text {
        @include mix-font("Gagalin", rem(14px), normal, 1, #ffffff);
        
        &_absol {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: rem(20px);
            transform: translate(-50%, -50%);
        }
    }
}

.consist-btn__link_active {
    background-color: $red;

    & + .consist-list {
    display: block;
    }
}

.price-block {
    display: flex;
    align-items: flex-end;
    margin-top: rem(26px);
    
    &__price, &__text {
        @include mix-font("Gagalin", rem(30px), normal, 1, $red);
    }
    
    &__price {
        font-size: rem(72px);
        margin-right: rem(0px);
    }
    
    &__text {
        margin-bottom: rem(5px);
        margin-right: rem(22px);  
    }
}

.slider-btn {
    position: absolute;
    top: 0px;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: rem(60px);


    
    &__pic {
        width: rem(29px);
        height: rem(16px);
        fill: #ffffff;
    }
    
    &_left {
        left: rem(-56px);
        
        .slider-btn__pic {
            transform: rotate(90deg);
        }
    }
    
    &_right {
        right: rem(-55px);
        
        .slider-btn__pic {
            transform: rotate(-90deg);
        }
    } 
}
