.product-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-body {
    position: relative;
    display: flex;
    width: 100%;
    
    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.product-img {
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 73px 0;
    
    @include tablets {

        padding: 75px 0 30px;
    }

    &__pic {
        display: block;
        width: 110%;
        margin-left: rem(-30px);
        
        @include tablets {
            margin-left: 0;
            margin-right: -10px;
        }
    }
}

.consist-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    
    @include tablets {
        left: 20px;
    }
    
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 22px 11px;
        border-radius: 5px;
        text-decoration: none;
        background-color: $d-yellow;

        &:hover {
            background-color: $red;
        }
    }
    
    &__pic {
        width: 46px;
        height: 44px;
        margin-bottom: 7px;
        fill: #ffffff;
    }
    
    &__text {
        @include mix-font("Gagalin", 14px, normal, 1, #ffffff);
        text-transform: uppercase;
    }
}

.consist-list {
    display: none;
    width: rem(270px);
    padding: rem(20px);
    border-radius: rem(5px);
    background-color: rgba(#ffffff, 0.9);

    &__item {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem(10px);
        color: $gray;
        font-size: rem(14px);
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__pic {
        width: rem(44px);
        height: rem(40px);
        margin-right: rem(25px);
    }
    
    &__name {
        margin-right: auto;
        font-weight: 400;
    }
}

.ccal-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    
    @include tablets {
        right: 0;
        top: 0;
        left: inherit;
        bottom:inherit;
    }
    
    &__pic {
        width: 60px;
        height: 60px;
        margin-bottom: 5px;
        fill: #ffffff;

    }
    
    &__text {
        @include mix-font("Gagalin", 14px, normal, 1, #ffffff);
        
        &_absol {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 20px;
            transform: translate(-50%, -50%);
        }
    }
}

.consist-btn__link_active {
    background-color: $red;

    & + .consist-list {
    display: block;
    }
}

.product-text {
    flex-basis: 50%;
    padding-left: 10px;
    
    @include tablets {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    &__desc {
        font-size: 14px;
        line-height: 1.7;
    }
}

.price-block {
    display: flex;
    align-items: flex-end;
    margin-top: rem(20px);
    
    &__price, &__text {
        @include mix-font("Gagalin", rem(30px), normal, 1, $red);
    }
    
    &__price {
        font-size: rem(72px);
        margin-right: rem(0px);
    }
    
    &__text {
        margin-bottom: rem(5px);
        margin-right: rem(22px);  
    }
}

.slider-btn {
    position: absolute;
    top: 0px;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: rem(60px);


    
    &__pic {
        width: rem(29px);
        height: rem(16px);
        fill: #ffffff;
    }
    
    &_left {
        left: rem(-56px);
        
        .slider-btn__pic {
            transform: rotate(90deg);
        }
    }
    
    &_right {
        right: rem(-55px);
        
        .slider-btn__pic {
            transform: rotate(-90deg);
        }
    } 
}
