.product-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-body {
    display: flex;
    width: 100%;
    height: 480px;
    
    @include tablets {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
    }
    
    &__col {
        position: relative;
        display: flex;
        align-items: center;
        width: calc(50% - 5px);
        
        @include tablets {
            width: 80%;
            justify-content: center;
            
            &:first-child {
                width: 65%;
                padding-top: 80px;
                margin-bottom: 18px;
            }
        }
        
        @include phones {
            width: 100%;
            
            &:first-child {
                width: 100%;
                padding: 110px 45px 0;
                margin-top: -15px;
            }
        }
        
        @include minscreen {
            &:first-child {
                padding-top: 80px;
            }
        }
    }
}
    
.product-img {
    display: block;
    width: 108%;
    margin-left: -30px;
    
    @include tablets {
        width: 110%;
        margin-left: -20px;
    }
    
    @include phones {
        margin-left: -5px;
    }
}
    
.product-text {
    align-self: flex-start;
    padding-left: 15px;
    margin-top: -8px;
    
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        margin: 0;
        text-align: center;
    }
    
    @include phones {
        margin-top: -10px;
    }
    
    &__desc {
        font-size: 14px;
        line-height: 1.7;
        
        @include minscreen {
            font-size: 12px;
        }
    }
}

.price-block {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
    
    @include tablets {
        justify-content: center;
        margin-top: 30px;
    }
    
    @include phones {
        margin-top: 15px;
    }
    
    &__price, &__text {
        @include mix-font("Gagalin", 30px, normal, 1, $red);
    }
    
    &__price {
        font-size: 72px;
        
        @include phones {
            margin-right: 3px;
            font-size: 50px;
        }
    }
    
    &__text {
        margin-right: 25px;
        
        @include phones {
            font-size: 24px;
        }
    }
}

.consist-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 22px 11px;
        border-radius: 5px;
        text-decoration: none;
        background-color: $d-yellow;

        &:hover {
            background-color: $red;
        }
    }
    
    &__pic {
        width: 46px;
        height: 44px;
        margin-bottom: 7px;
        fill: #ffffff;
    }
    
    &__text {
        @include mix-font("Gagalin", 14px, normal, 1, #ffffff);
        text-transform: uppercase;
    }
}

.consist-list {
    display: none;
    width: 270px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(#ffffff, 0.9);

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
        color: $gray;
        font-size: 14px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__pic {
        width: 44px;
        height: 40px;
        margin-right: 25px;
    }
    
    &__name {
        margin-right: auto;
        font-weight: 400;
    }
}

.consist-btn__link:hover + .consist-list {
    display: block;
    animation-name: bounceInLeft;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.ccal-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    
    @include tablets {
        right: 0;
        top: 0;
        left: inherit;
        bottom:inherit;
    }
    
    &__pic {
        width: 60px;
        height: 60px;
        margin-bottom: 5px;
        fill: #ffffff;
    }
    
    &__text {
        @include mix-font("Gagalin", 14px, normal, 1, #ffffff);
        
        &_absol {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 20px;
            transform: translate(-50%, -50%);
        }
    }
}

.slider-btn {
    position: absolute;
    top: 0px;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5.5%;
    
    &__pic {
        width: 29px;
        height: 16px;
        fill: #ffffff;
        
        @include phones {
            margin-top: -30px;
        }
    }
    
    &_left {
        left: 2%;
        
        @include tablets {
            left: 4%;
        }
        
        @include phones {
            left: 1.5%;   
        }
        
        .slider-btn__pic {
            transform: rotate(90deg);
        }
    }
    
    &_right {
        right: 2%;
        
        @include tablets {
            right: 4%;
        }
        
        @include phones {
            right: 1.5%;   
        }
        
        .slider-btn__pic {
            transform: rotate(-90deg);
        }
    } 
}

.frame {
    width: 100%;
    position: relative;

    overflow: hidden;
    white-space: nowrap;
}

.slides {
    display: inline-block;
}

js_slide {
    position: relative;
    display: inline-block;
    width: 100%;
}
