.review-list {
    display: flex;
    flex-wrap: wrap;
    
    &__item {
        position: relative;
        width: 25%;
        height: 50vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: grayscale(1);

//        @include tablets {
//            width: 50%;
//            height: 25vh;
//        }
    }
}

.review-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: rem(40px) rem(20px);
    background-color: $review-bg;
    transform: scale(0);

//    @include tablets {
//        display: flex;
//        flex-direction: column;
//        align-items: center;
//        padding: rem(28px) rem(50px);
//        text-align: center;
//    }

    &__author {
        display: block;
        margin-bottom: rem(16px);
        font-family: "Gagalin", "Arial", sans-serif;
        font-size: rem(14px);
        line-height: rem(28px);
        text-transform: uppercase;

//        @include tablets {
//            margin-bottom: rem(7px);
//        }
    }

    &__letter {
        font-size: rem(14px);
        line-height: rem(24px);
        
        @include phones {
            display: none;
        }
    }
}

.review-list__item:hover .review-text {
    transform: scale(1);
    transition: 0.3s;
}

.review-btn {
    display: inline-block;
    padding: rem(10px) rem(15px);
    margin-top: rem(11px);
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: $d-gray;
    border-radius: rem(5px);

//    @include tablets {
//        margin-top: rem(20px);
//    }

    &:hover {
        background-color: $hov-gray;
        transition: 0.3s;
    }
}