.review-list {
    display: flex;
    flex-wrap: wrap;
    
    &__item {
        position: relative;
        width: 25%;
        height: 50vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: grayscale(1);
    }
}

.review-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 20px;
    background-color: $review-bg;
    transform: scale(0);

    &__author {
        display: block;
        margin-bottom: 16px;
        font-family: "Gagalin", "Arial", sans-serif;
        font-size: 14px;
        line-height: 28px;
        text-transform: uppercase;
    }

    &__letter {
        font-size: 14px;
        line-height: 24px;
    }
}

.review-list__item:hover .review-text {
    transform: scale(1);
    transition: 0.3s;
}

.review-btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 11px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: $d-gray;
    border-radius: 5px;

    &:hover {
        background-color: $hov-gray;
        transition: 0.3s;
    }
}