.review-list {
    display: flex;
    flex-wrap: wrap;
    
    &__item {
        position: relative;
        width: 25%;
        height: 50vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: grayscale(1);

        @include tablets {
            width: 50%;
            height: 25vh;
        }
    }
}

.review-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px 5px;
    background-color: $review-bg;
    transform: scale(0);

    @include tablets {
        align-items: center;
        padding: 5px 50px 0;
        text-align: center;
    }
    
    @include phones {
        padding-top: 0;
    }

    &__author {
        display: block;
        margin-bottom: 16px;
        font-family: "Gagalin", "Arial", sans-serif;
        font-size: 14px;
        line-height: 28px;
        text-transform: uppercase;

        @include tablets {
            margin-bottom: 5px;
        }
        
        @include phones {
            font-size: 24px;
        }
        
        @include minscreen {
            font-size: 18px;
        }
    }

    &__letter {
        font-size: 14px;
        line-height: 1.7;
        
        @include phones {
            display: none;
        }
    }
}

.review-list__item:hover .review-text {
    transform: scale(1);
    transition: 0.3s;
}

.review-btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 16px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: $d-gray;
    border-radius: 5px;

    @include tablets {
        margin-top: 25px;
    }
    
    @include phones {
        display: none;
    }
    
    &_more {
        display: none;
        
        @include phones {
            display: inline-block;
            margin-top: 15px;
        }
        
        @include minscreen {
            font-size: 10px;
        }
    }

    &:hover {
        background-color: $hov-gray;
        transition: 0.3s;
    }
}