.mini-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 49%;
    padding-top: 70px;
    padding-left: 80px;
    background-color: $team-bg;

    @include tablets {
        align-items: center;
        width: 100%;
        padding: 0;
    }
}

.team-accord {
    
    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 13px;

        @include tablets {
            align-items: center;
            margin-bottom: 3px;
        }
    }
    
    &__name {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 8px;
        @include mix-font("Gagalin", 14px, normal, 2, #ffffff);
        text-transform: uppercase;
        text-decoration: none;

        @include tablets {
            font-size: 24px;
            margin-bottom: 5px;
        }
        
        @include minscreen {
            font-size: 18px;
        }
        
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 9px;
            height: 6px;
            margin-right: 8px;
            background-image: url("../image/svg/triangle.svg#triangle");
            background-repeat: no-repeat;
        }
    }
    
    &__description {
        display: none;
        margin-bottom: 24px;

        @include tablets {
            flex-direction: column;
            align-items: center;
            margin-bottom: 16px;
        }
    }
    
    &__img {
        position: relative;
        flex-shrink: 0;
        width: 100px;
        height: 100px;
        margin-left: 16px;
        margin-right: 20px;
        border-radius: 50%;
        overflow: hidden;

        @include tablets {
            margin-bottom: 19px;
        }
    }
    
    &__pic {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 135%;
        transform: translate(-50%, -50%);
    }
    
    &__description-text {
        width: 50%;
        
        @include tablets {
            width: 75%;
            text-align: center;
        }
    }
    
    &__post {
        display: block;
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.2;
    }
    
    &__part {
        font-size: 14px;
        line-height: 1.7;
    }
    
    &_active {
        color: $yellow;
        
        &:before {
            transform: rotate(180deg);
        }
        
        +.team-accord__description {
            display: flex;
        }
    }
}

