.mini-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 49%;
    height: 100%;
    background-color: $team-bg;

//    @include tablets {
//        width: 100%;
//    }
}

.work-team {
	width: 70%;
    margin: 0 auto;

//    @include tablets {
//        display: flex;
//        flex-direction: column;
//        align-items: center;
//        width: 50%;
//    }
//
//    @include phones {
//        width: 70%;
//    }
}

.team-accord {

//    @include tablets {
//        display: flex;
//        flex-direction: column;
//        align-items: center;
//    }
    
    &__item {
        margin-bottom: rem(15px);

//        @include tablets {
//            display: flex;
//            flex-direction: column;
//            align-items: center;
//            margin-bottom: rem(6px);
//        }
    }
    
    &__name {
        display: inline-block;
        margin-bottom: rem(5px);
        vertical-align: middle;
        @include mix-font("Gagalin", rem(14px), normal, 2, #ffffff);
        text-transform: uppercase;
        text-decoration: none;

//        @include tablets {
//            font-size: rem(24px);
//        }
        
        &:before {
            content: "";
            display: inline-block;
            width: rem(9px);
            height: rem(6px);
            margin-right: rem(8px);
            vertical-align: middle;
            background-image: url("../image/svg/triangle.svg#triangle");
            background-repeat: no-repeat;
            
        }
    }
    
    &__description {
        display: none;
        align-items: center;
        margin-bottom: rem(20px);

//        @include tablets {
//            flex-direction: column;
//            margin-bottom: 0;
//        }
    }
    
    &__img {
        flex-shrink: 0;
        width: rem(100px);
        height: rem(100px);
        margin-left: rem(17px);
        margin-right: rem(20px);
        border-radius: 50%;
        overflow: hidden;
        position: relative;

//        @include tablets {
//            margin-bottom: rem(13px);
//        }
    }
    
    &__pic {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 135%;

    }
    
    &__post {
        display: inline-block;
        margin-bottom: rem(11px);
        font-size: rem(14px);
        font-weight: bold;
        line-height: 1.7;
    }
    
    &__description-text {
        margin-bottom: rem(16px);

//        @include tablets {
//            display: flex;
//            flex-direction: column;
//            align-items: center;
//            text-align: center;
//            margin-bottom: rem(13px);
//        }
    }
    
    &__part {
        font-size: rem(14px);
        line-height: 1.7;
    }
    
    &_active {
        color: $yellow;
        
        &:before {
            transform: rotate(180deg);
        }
        
        +.team-accord__description {
            display: flex;
        }
    }
}

