$desktop: 1200px; //Для десктопный экранов
$tablets: 768px; //Для планшетов
$phones: 480px; //Для смартфонов
$mini-screen: 400px; //Для экранов меньшей ширины

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

@mixin minscreen {
    @media screen and (max-width: $mini-screen) {
        @content;
    }
}