//Основые цвета

$orange: #e45028;
$hov-orange: #c1401e;
$l-orange: #f5a649;
$yellow: #f9b43b;
$d-yellow: #f08c33;
$red: #e35028;
$gray: #2f3234;
$d-gray: #3c3d3e;
$hov-gray: #373839;
$meat: #e25008;
$hand: #f8b43a;
$natural: #8ac03e;

//Доп цвета для секций

$section-prev: #181818;
$section-feat: #f7f1ed;
$section-team: #717171;
$section-menu: #4f4f4f;
$section-rev: #4f4f4f;
$section-order: #1e1e1e;

//Прозрачные цвета для фонов

$review-bg: rgba(#141414, 0.7);
$team-bg: rgba(#2f3234, 0.93);