//General colors

$orange: #e45028;
$hov-orange: #c1401e;
$l-orange: #f5a649;
$yellow: #f9b43b;
$red: #e35028;
$gray: #2f3234;
$d-gray: #3c3d3e;
$hov-gray: #373839;

// Spare color for sections

$section-prev: #181818;
$section-feat: #f7f1ed;
$section-team: #717171;
$section-menu: #4f4f4f;
$section-rev: #4f4f4f;
$section-order: #1e1e1e;

//Other colors

$review-bg: rgba(20, 20, 20, 0.7);