html, body {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-size: 16px;
}

body {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.42;
    color: #ffffff;
}

.wrapper {
    position: relative;
    min-width: 940px+20px;
    overflow: hidden;
}

.container {
    position: relative;
    width: 940px;
    height: 100%;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.border-invis {
    border: 1px solid transparent;
}

ul {
    padding: 0;
    margin: 0;
    
    li {
        list-style: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

p {
    padding: 0;
    margin: 0;
}