html {

    // @include tablets {
    //     font-size: rem(15px);
    // }

    // @include phones {
    //     font-size: rem(14px);
    // }
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.42;
    color: #ffffff;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 940px;
    width: 95%;
    min-height: 100%;
    padding-top: rem(1px);
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    
    li {
        list-style: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

p {
    padding: 0;
    margin: 0;
}