.section {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 650px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
        &_preview {
            padding-top: 10px;
            background-color: $section-prev;
            background-image: url("../image/bg/bg-section-1.jpg");
        }
    
        &_features {
            background-color: $section-feat;
            background-image: url("../image/bg/bg-section-2.jpg");
        }
    
        &_product-preview {
            background-image:
                -moz-linear-gradient(90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
            background-image:
                -webkit-linear-gradient(90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
            background-image:
                -ms-linear-gradient(90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
        }
    
        &_team {
            background-color: $section-team;
            background-image: url("../image/bg/bg-section-4.jpg")
        }
    
        &_menu {
            background-color: $section-menu;
            background-image: url("../image/bg/bg-section-5-1.jpg");
            padding-top: 1px;
        }
    
        &_review {
            background-color: $section-rev;
        }
    
        &_order-form {
            background-color: $section-order;
            background-image: url("../image/bg/bg-section-6.jpg");
        }
    
        &_contacts {
            background-image: url("../image/bg/bg-section-7.jpg")
        }
}