.section-title {
    display: block;
    @include mix-font("Gagalin", 72px, normal, 1.18, none);
    text-transform: uppercase;
    
    &_preview {
        margin-top: 60px;
        margin-bottom: 20px;
        color: $yellow;
    }
    
    &_features {
        margin-top: 60px;
        text-align: center;
        color: $gray;
    }
    
    &_team {
        color: $yellow;
        margin-bottom: 68px;
    }
    
    &_menu {
        margin-top: 90px;
        margin-left: 95px;
        color: #ffffff;
    }
    
    &_order {
        margin-top: 70px;
        color: $yellow;
        text-align: center;
    }
}