.review__list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

.review__item {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 50vh;
    min-height: 325px;
    vertical-align: top;
    background-color: #fff;
}

.review__bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    filter: grayscale(1);
}

.review__bg_img1 {
    background-image: url("../../image/content/review-bg1.jpg");
}

.review__bg_img2 {
    background-image: url("../../image/content/review-bg2.jpg");
}

.review__bg_img3 {
    background-image: url("../../image/content/review-bg3.jpg");
}

.review__bg_img4 {
    background-image: url("../../image/content/review-bg4.jpg");
}

.review__bg_img5 {
    background-image: url("../../image/content/review-bg5.jpg");
}

.review__bg_img6 {
    background-image: url("../../image/content/review-bg6.jpg");
}

.review__bg_img7 {
    background-image: url("../../image/content/review-bg7.jpg");
}

.review__bg_img8 {
    background-image: url("../../image/content/review-bg8.jpg");
}

.review__text {
    position: absolute;
    top: 0;
    left: 2000px;
    width: 100%;
    height: 100%;
    padding: 45px 20px;
    background-color: rgba(20, 20, 20, 0.7);
    z-index: -1;
}

.review__item:hover .review__text {
    left: 0;
    transition: 0.3s;
    z-index: 1;
}

.review__author {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
}

.review__letter {
    font-size: 14px;
    line-height: 24px;
}

.review__link {
    display: inline-block;
    padding: 10px 16px;;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #3c3d3e;
    border-radius: 5px;
}

.review__link:hover {
    background-color: #373839;
    transition: 0.3s;
}